.container{
    width: 50%;
    height: 100%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

#myTable{
    border: 1px solid red;
    width: 100%;
    font-size: 18px;
    border-collapse: collapse;
}

#myTable th, #myTable td{
    border: 1px solid red;
    padding: 12px;

}